@import "src/styles/templates";

header.appHeader {
  @apply bg-primary py-[1.5em] z-[2000];

  font-size: 1rem; // 1em = 20px
  position: sticky;
  top: 0;
  left: 0;

  section.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;

    article.mobile {
      display: none;
    }

    @media (max-width: 900px) {
      nav.desktop,
      button.desktop,
      .desktopWrapper {
        display: none !important;
      }

      article.mobile {
        display: flex;
      }
    }
  }
}
