nav.navbar {
  font-size: 1em; // 1em = 20px

  ul {
    li {
      font-size: .8em;
    }
  }

  &.header {
    ul {
      display: flex;
    }
  }

  &.header {
    ul {
      gap: 2em;
    }
  }
}
