footer.appFooter {
  @apply bg-footer-primary text-footer-secondary
         flex flex-col gap-[.75em];

  font-size: 1rem; // 1em = 20px

  section.container {
    @apply flex justify-between;

    padding-top: calc(var(--margin) / 2);
    padding-bottom: calc(var(--margin) / 2);
  }

  section:last-of-type {
    margin-bottom: calc(var(--margin) / 2);
  }
}
