@import "src/styles/templates";

article.projectView {
  --preview-width: clamp(350px, 25%, 541px);

  display: grid;
  grid-template-columns: var(--preview-width) 1fr;
  gap: calc(var(--margin) * 2);
  font-size: 1em; // 1em = 20px

  @media (max-width: 1216px) {
    gap: calc(var(--margin) * 1);
  }

  @media (max-width: 998px) {
    --preview-width: clamp(300px, 25%, 541px);
  }

  @media (max-width: 791px) {
    display: block;

    .photoBlock {
      display: none;
    }
  }

  .photoBlock {
    @apply bg-project-preview-primary;

    @extend %flexCenter;

    width: 100%;
    aspect-ratio: 541 / 460.6;
    align-self: center;
    border-radius: .9em;
    overflow: hidden;
    padding: 2em;

    img {
      // max-width: 100%;
      // max-height: 100%;
    }

    img.square, img.vertical {
      // height: min(100vh, calc(100% - 3em * 2));
    }

    img.vertical {
      height: 100%;
      width: max-content;
    }

    img.horizontal {
      // width: min(100vw, calc(100% - 3em * 2));;
    }
  }

  .textBlock {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2.25em;

    header.titleBlock {
      @apply flex flex-col gap-[1.5em];

      h2 {
        @apply font-medium;

        font-size: 1.75em;
      }

      .body {
        @apply text-font-secondary
               flex flex-col gap-[1em];

        line-height: 150%;

        .iconWrapper {
          &.monochrome svg.icon {
            &[stroke] {
              stroke: currentColor;
            }

            path[fill] {
              fill: currentColor;
            }
          }
        }

        svg.icon, img.icon {
          height: 1.5em;
          aspect-ratio: 1;
          object-fit: contain;
        }

        img.icon {
          width: 1.5em;
        }
      }
    }

    footer.buttonBlock {
      @apply flex gap-[1.5em];
    }
  }

  &.reversed {
    grid-template-columns: 1fr var(--preview-width);

    .photoBlock {
      grid-column-start: 2;
    }

    .textBlock {
      grid-column-start: 1;
      grid-row-start: 1;
      justify-content: center;
      align-items: end;
      text-align: end;
    }
  }
}
